SECRET_KEY=XXXXXXXXXXXXXXXXXXX
DJANGO_SETTINGS_MODULE=XXXXXXXXXXXXXXXXXXX

# Redis Config
USE_REDIS=True
REDIS_SERVER=XXXXXXXXXXXXXXXXXXX

# Celery
BROKER_URL=XXXXXXXXXXXXXXXXXXX

# Flower
FLOWER_USER=XXXXXXXXXXXXXXXXXXX
FLOWER_PASSWORD=XXXXXXXXXXXXXXXXXXX

# EMAIL
EMAIL_PASSWORD=XXXXXXXXXXXXXXXXXXX

# LIFETIME TOKEN JWT
ACCESS_TOKEN_LIFETIME=720
REFRESH_TOKEN_LIFETIME=730

# S3
MAX_IMAGE_SIZE=100
USE_S3=False
AWS_S3_REGION_NAME=XXXX
AWS_S3_ENDPOINT_URL=XXXX
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
AWS_STORAGE_BUCKET_NAME=XXXX
